body {
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.heading {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
}

.map {
    margin-left: 10%;
}